html {
    box-sizing: border-box;
}

body {
    display:flex;
    flex-direction: column;
}

.wrapper-5-day {
    display: inline-flex;
}

.forecast-day {
    background-color: blue;
}

#city-submit {
    background-color: blue;
    color: white;
}